h4{
    height: 30px;
    margin-top: 20px;

}
.detail_top{
    width: 100%;
    height: 300px;
    /*background-color: skyblue;*/

}
.detail_top .img_intro{
    width: 200px;
    height: 300px;
   /* background-color: red;*/
    float: left;
    position: relative;
}
.detail_top .text_intro{
    width: 300px;
    height: 300px;
    /*background-color: yellow;*/
    float: left;
    margin-left: 30px;
    position: relative;
}
.detail_top .text_intro .buy_tom{
    position: absolute;
    bottom: 0;
}
.detail_top .text_intro button{
    width: 80px;
    height: 30px;
    background-color:#f53807;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
}

.ximg{
    width: 200px;
    height: 100px;
    position:absolute;
    top: 310px;
    padding-top: 10px;
    /*background-color: yellow;*/
}
.img{
    width: 33.333%;
    height: 100px;
    float: left;
   /* border: 1px solid #555;*/
    /*background-color: red;!important;*/
    /*display:inline-block;*/
}
.text p{
    margin-bottom: 8px;
}
/*夏敏*/
.detail .detail_top .detail_mid{
    width: 100%;
    height: 400px;
    font-size: 16px;

}
/*.detail .detail_top .detail_mid p{
    padding-bottom: 30px;
}*/
.detail .ulimp{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #f53807;
    float: left;
    margin-top: 30px;

}
.detail .ulimp .liimp{
    /*display: block;*/
    width: 60px;
    /*background-color: yellow;*/
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 20px;
    
}
.detail .ulimp .liimp:hover{
    background-color: #f53807;
}
/*pinglun*/
.comment .list li{
    float: left;
    margin-right: 20px;
}
