*{
  margin: 0px;
  padding: 0px;
  /*border: 1px solid red;*/
}

/*头部导航*/
.head{
  margin: 0px auto;
  width: 1300px;
  height: 100px;
 /* background-color:blue;*/

}
.head>ul{
  margin: 0px auto;
  width: 1300px;
  height: 100px;
  line-height: 100px;

}
.head>ul>li{
  text-align: center;
  list-style: none;
  float: left;
  height: 100px;
  padding:0px 50px;
  font-size: 14px;
  transition:all 0.1s linear;
}
.head>ul>li>a{
  line-height: 50px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  color: gray;
}
.head>ul>li>a:hover{
  /*设置动画方向*/
  transform-origin:bottom center;
  /*放大1.5倍*/
  transform:scale(1.1);
  color: #008DE1;
}
/*黑线*/
.blackx{
  width: 100%;
  height: 1px;
  background-color: gray;
}
/*中间部分*/
.center{
  margin: 0px auto;
  width: 1300px;
  height: 3000px;
  /*background-color: #555555;*/

}
/*左边*/
.left{
  width: 20%;
  height: 3000px;
  float:left;
  /*background-color: black;*/
  box-sizing:border-box;
  /*border-right: 1px solid gray;*/
}
.leftNavigation{
  margin: 70px auto;
  width: 150px;
  height: 400px;
  /*background-color: #343434;*/

}
.leftNavigation>ul{
  margin: 0px auto;
  width: 100%;
  height: 50px;
}
.leftNavigation>ul>li{
  width: 100%;
  height: 100px;
  list-style: none;
  float: left;
  font-size: 1em;
  text-align: center;
  transition:all 0.1s linear;
}
.leftNavigation>ul>li>a{
  display: inline-block;
  margin-top: 10px;
  color: gray;
  text-decoration: none;
}
.leftNavigation>ul>li>a:hover{
  /*设置动画方向*/
  transform-origin:bottom center;
  /*放大1.5倍*/
  transform:scale(1.1);
  color: #008DE1;
}
.leftNavigation>ul>li>img{
  width: 45px;
  height: 45px;
}

/*右边*/
.right{
  width: 80%;
  height: 2800px;
  float: left;
  margin-top: 50px;
  /*background-color:#008DE1;*/
  box-sizing:border-box;
  border-left: 1px solid gray;
}

.ambient{
  width: 500px;
  height: 300px;
  /*background-color: black;*/
  margin-left: 20px;
  float: left;
  margin-top: 20px;
}
.ambient>img{
  width: 500px;
  height: 300px;
}
.suggest{
  width: 400px;
  height: 300px;
  /*background-color: gray;*/
  margin-left: 100px;
  margin-top: 50px;
  float: left;
}
.suggest>h2{
  color: gray;
  font-size: 20px;
}
.suggest>p{
  margin-top: 10px;
  color: gray;

}

/*底部*/
.footer{
  padding-top: 50px;
  margin: 0px auto;
  width: 100%;
  height: 120px;
  background-color: #ececec;
}
.footer>p{
  width: 100%;
  height: 35px;
  margin: 0px auto;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
}
